/* 모바일용 CSS */
/* 기본 CSS*/
#wrap {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  #wrap section {
    box-sizing: border-box;
  }
  
  /* Information clock part */
  .info_clock {
    order: 1;
    width: 100%;
    padding: 10px 0;
    padding: 0.625rem 0;
    background: #3caeff;
    border-bottom: 1px solid #289aff;
    text-align: center;
  }
  
  #clock {
    font-size: 20px;
    font-size: 1.25rem;
  }
  
  /* Header part */
  .header {
    display: flex;
    order: 2;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .logo {
    order: 1;
    width: 100%;
    padding: 10px 0;
    padding: 0.625rem 0;
    text-align: center;
    background: #3caeff;
  }
  
  .logo img {
    width: 82px;
    width: 5.125rem;
    height: 82px;
    height: 5.125rem;
  }
  
  .nav {
    order: 2;
    width: 100%;
  }
  
  .navbar {
    display: none;
  }
  
  .navbar li {
    display: flex;
    background: #2c3e50;
  }
  
  .navbar li a {
    width: 80%;
    padding: 20px 0;
    padding: 1.25rem 0;
    font-size: 0.938em;
    font-size: 0.938rem;
    text-indent: 20px;
    text-indent: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navbar li a:hover {
    color: orange;
  }
  
  .menu_toggle_btn {
    display: block;
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    position: absolute;
    top: 10px;
    top: 0.625rem;
    right: 10px;
    right: 0.625rem;
    text-indent: -9999px;
    background: url(../img/menu_toggle_btn.png) no-repeat;
    cursor: pointer;
  }
  
  .menu_toggle_btn:hover {
    background: url(../img/menu_toggle_hover.png) no-repeat;
  }
  
  /* Main header part */
  
  .main_header_section {
    order: 3;
    padding: 48px 0;
    padding: 3rem 0;
    text-align: center;
    background: #219af7;
  }
  
  .main_header_section h2 {
    margin-bottom: 12px;
    margin-bottom: 0.75rem;
    font-size: 1.313em;
    font-size: 1.313rem;
    color: #fff;
  }
  
  .sub_list li {
    display: inline;
    font-size: 0.813em;
    font-size: 0.813rem;
    font-weight: bold;
  }
  
  /* content part */
  .content_section {
    order: 4;
    padding: 20px;
    padding: 1.25rem;
    background: #fff;
  }
  
  .content_section > div {
    margin-top: 60px;
    margin-top: 3.75rem;
  }
  
  .content_section > div:first-child {
    margin-top: 0;
  }
  
  .row {
    display: flex;
    margin-top: 20px;
    margin-top: 1.25rem;
    font-family: NanumGothic, 나눔고딕, "Nanum Gothic", "맑은 고딕", HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    font-weight: bold;
  }

  .left {
    flex: 60%;
    padding: 10px;
    padding: 0.625rem;
    background-color: lightskyblue;
  }
  
  .left h2 {
    font-size: 1.6em;
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
  }

  #japan_code {
    animation-duration: 5s;
    animation-name: rainbow;
    animation-iteration-count: infinite;
  }

    @keyframes rainbow {
      0% {color: #ff2a2a;}
      15% {color: #ff7a2a;}
      30% {color: #ffc52a;}
      45% {color: #43ff2a;}
      60% {color: #2a89ff;}
      75% {color: #202082;}
      90% {color: #6b2aff;}
      100% {color: #e82aff;}
    }
  
  #mySearch {
    width: 93%;
    font-size: 1.125em;
    font-size: 1.125rem;
    font-family: NanumGothic, 나눔고딕, "Nanum Gothic", "맑은 고딕", HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    font-weight: bold;
    margin: 10px 0;
    margin: 0.625rem 0;
    padding: 11px;
    padding: 0.688rem;
    background-color: white;
    border: 1px solid white;
  }
  
  input::placeholder {
    opacity: 0.7;
  }
  
  #myMenu {
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px 3px;
    padding: 0.75rem 0.188rem;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 0.84em;
    font-size: 0.84rem;
  }
  #myMenu li a:hover {
    background-color: #fff;
    max-width: 100%;
  }
  
  .empty {
    font-size: 0px;
  }
  
  /* footer part */
  .footer {
    order: 5;
    width: 100%;
    background: #505050;
  }
  
  .footer p {
    padding: 20px;
    padding: 1.25rem;
    font-size: 0.813em;
    font-size: 0.813rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 1px 1px #191919;
  }
  
  #hidden:hover {
    color: lightskyblue;
    cursor: pointer;
  }
  
  /* 태블릿용 CSS */
  @media all and (min-width: 768px) {
    /* Header part */
    .header {
      flex-direction: row;
    }
  
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 15.625%;
      padding: 0;
    }
  
    .logo a {
      display: block;
      padding: 35px 0;
      padding: 2.188rem 0;
    }
  
    .nav {
      position: relative;
      min-height: 80px;
      min-height: 5rem;
      background: #3caeff;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 20;
      width: 40.10416666666667%;
    }
  
    .menu_toggle_btn {
      top: 50%;
      right: 30px;
      right: 1.875rem;
      z-index: 20;
      margin-top: -15px;
      margin-top: -0.938rem;
    }
  
    /* content part */
    .content_section {
      padding: 40px;
      padding: 2.5rem;
    }
  
    .content_section > div {
      margin-top: 50px;
      margin-top: 3.125rem;
    } 

    #mySearch {
      width: 95%;
    }

    #myMenu li a {
      font-size: 1.1em;
      font-size: 1.1rem;
    
    }
  
    /* footer part */
    .footer p {
      padding: 40px 0;
      padding: 2.5rem 0;
    }
  }
  
  /* PC용 CSS */
  @media all and (min-width: 960px) {
    /*태블릿버전이 너무짧으면 1024px로 바꾸기*/
    #wrap {
      position: relative;
      width: 98%;
    }
    
    /* Information clock part */
    .info_clock {
      order: 0;
      position: absolute;
      top: 9px;
      top: 0.563rem;
      right: 30px;
      right: 1.875rem;
      z-index: 30;
      width: 14%;
      border-bottom: 0;
      line-height: normal;
    }
  
    #clock {
      font-size: 18px;
      font-size: 1.125rem;
      color: white;
      font-weight: bold;
    }
  
    /* Header part */
    .header {
      order: 1;
      justify-content: flex-end;
      position: static;
    }
  
    .logo {
      width: 12.5%;
    }
  
    .nav {
      display: flex;
      align-items: center;
      position: static;
      width: 87.5%;
    }
  
    .navbar {
      display: flex !important;
      flex-direction: row;
      position: static;
      width: 78%;
      text-shadow: 0px 1px 1px #32a4ff;
    }
  
    .navbar li {
      display: block;
      margin-left: 5.20833333333333%;
      background: none;
    }
  
    .navbar li a {
      width: auto;
      padding: 0;
      text-indent: 0;
    }
  
    .navbar li a:hover {
      color: black;
    }
  
    .navbar li span {
      display: none;
    }
  
    .menu_toggle_btn {
      display: none;
    }
  
    /* Main header part */
    .main_header_section {
      order: 2;
    }
    
    /* content part */
    .content_section {
      order: 3;
      padding: 60px;
      padding: 3.75rem;
    }

    .left h2 {
      font-size: 1.8em;
      font-size: 1.8rem;
    }

    #mySearch {
      width: 97.8%;
    }
  
    /* footer part */
    .footer {
      order: 4;
    }
  
    .footer p {
      padding-left: 3.125%;
      text-align: left;
    }
  }
  